# Aritmética y Variables

En este JNB se revisará el tema de Aritmética y Variables

In [17]:
print("Hello World!")

Hello World!

In [18]:
print(1+2)

3

In [19]:
print(2 ** 3)

8

In [20]:
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [21]:
# Multiplicar 3 * 2

print(3 * 2)

6

In [22]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [23]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [24]:
print(my_var)
print(test_var)

100
9

In [25]:
# Increase the value by 3
my_var = my_var + 3

# Print the value assigned to my_var
print(my_var)

103

In [26]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

In [27]:
# Update to include leap years
days_per_year = 365.25

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126230400.0