# Tipos de Datos

En este JNB se revisar치 el tema de Tipos de Datos

In [2]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [3]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

In [4]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

In [6]:
# Divisi칩n entera de 22 entre 7
print(22 // 7)
print(type(22 // 7))

3
<class 'int'>

In [7]:
# Divisi칩n de m칩dulo de 22 entre 7
print(22 % 7)
print(type(22 % 7))

1
<class 'int'>

In [11]:
# Round to 5 decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

In [14]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

# Booleanos

Los valores booleanos representan dos estados: verdadero (True) o falso (False).

In [15]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [16]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [17]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [18]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [19]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

In [20]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [21]:
print(len(w))

14

In [22]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [23]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [24]:
print(float(my_number))
print(type(float(my_number)))

1.12321
<class 'float'>

In [25]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [26]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>